{% extends "../base.html" %}

{% block content %}
    <form method="POST" action="{% url 'polls:index' session_name=session_name %}">
        <div class="p-2">
            {% csrf_token %}
            {% for field, wine, tags in form %}
                {% if field.name == "name" %}
                    {# name field #}
                    <div class="d-flex flex-column gap-2 mb-4 p-2">
                        <h4 class="fw-bold">Ton nom ici</h4>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% else %}
                    <div class="d-flex align-self-center fw-bold " style="margin-bottom: 20px;">
                        Vin {{ forloop.counter0 }} - {{ wine.short_name }}
                    </div>
                    {# wine score fields #}
                    <div class="d-flex flex-row mb-5 justify-content-center">
                        <div id="leftSide" class="d-flex flex-column gap-4 justify-content-center">
                            <a data-bs-toggle="modal" data-bs-target="#wineModal{{ forloop.counter0 }}">
                                <img
                                    class="align-self-center" 
                                    src="{% url 'wine_image' wine.id %}"
                                    style="
                                        height: auto; width: 65%; display: block;
                                        margin-left: auto;
                                        margin-right: auto;"
                                />
                            </a>

                            <div class="d-flex w-100 align-self-center">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                            
                        </div>
                        <div id="rightSide" class="d-flex align-self-center fw-bold">
                            
                        </div>
                    </div>
                    {# modal #}
                    <div class="modal fade" id="wineModal{{ forloop.counter0 }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="wineModalLabel{{ forloop.counter0 }}">{{ wine.full_name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <b> Cépage</b>: {{ wine.variety }}</p>
                                    <p> <b> Pays, Région</b>: {{ wine.region }}
                                    </p>
                                    <p> <b> Degré d'alcool</b>: {{ wine.alcohol_content }} % </p>
                                    {% if wine.sweetness == -1.1 %}
                                    <p> <b> Taux de sucre</b>: idk </p>
                                    {% elif wine.emoji_sucre == True %}
                                    <p> <b> Taux de sucre</b>: {{ wine.sweetness }} g/L &#128517</p>    
                                    {% else %}
                                    <p> <b> Taux de sucre</b>: {{ wine.sweetness }} g/L </p>
                                    {% endif %}
<!--                                    <div style="height:100%">-->
<!--                                        {% for tag in tags %}-->
<!--                                            <img src="{{ tag.image.url }}" height="35vh">-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}