{% extends "../base.html" %}

{% block content %}
    <form method="POST">
        <div class="p-2">
            {% csrf_token %}
            {% for field, wine, tags in form %}
                {% if field.name == "name" %}
                    {# name field #}
                    <div class="d-flex flex-column gap-2 mb-4 p-2">
                        <h4 class="fw-bold">Ton beau nom ici</h4>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% else %}
                    {# wine score fields #}
                    <div class="d-flex flex-row mb-5 justify-content-center">
                        <div id="leftSide" class="d-flex flex-column gap-4 w-50">
                            <a data-bs-toggle="modal" data-bs-target="#wineModal{{ forloop.counter0 }}">
                                <img
                                    class="img-fluid" 
                                    src="{{ wine.image.url }}"
                                />
                            </a>
                            <div class="d-flex w-50 align-self-center">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                        <div id="rightSide" class="d-flex align-self-center fw-bold">
                            Vin {{ forloop.counter0 }} - {{ wine.short_name }}
                        </div>
                    </div>
                    {# modal #}
                    <div class="modal fade" id="wineModal{{ forloop.counter0 }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="wineModalLabel{{ forloop.counter0 }}">{{ wine.full_name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <b> Cépage</b>: {{ wine.variety }}</p>
                                    <p> <b> Pays, Région</b>: {{ wine.region }}
                                    </p>
                                    <p> <b> Degré d'alcool</b>: {{ wine.alcohol_content }} % </p>
                                    <p> <b> Taux de sucre</b>: {{ wine.sweetness }} g/L </p>
                                    {% for tag in tags %}
                                        <img src="{{ tag.image.url }}" height="100" width="100" class="img-fluid">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}