{% extends "../base.html" %}

{% block content %}
    If you aren't supposed to be here, please leave 👀
    <br><br>
    <form action="{% url 'polls:add_wines' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file_input">Upload a file:</label>
        <input id="file_input" type="file" name="files">
        <br><br>
        <label for="url_input">Or enter URLs (comma-separated):</label>
        <input id="url_input" type="text" name="urls">
        <br><br>
        <input type="submit" value="Add">
    </form>
    <br><br>
    <a type="button" class="btn btn-primary" href="{% url 'polls:download_results' %}">Download results</a>
{% endblock %}
