{% extends "../base.html" %}

{% block content %}
    If you aren't supposed to be here, please leave 👀
    <br><br>
    <form action="{% url 'polls:add_wines' %}" method="POST" >
        {% csrf_token %}
        <input id="your_name" type="file" name="files">
        <input type="submit" value="Add">
    </form>
    <br><br>
    <a type="button" class="btn btn-primary" href="{% url 'polls:download_results' %}">Download results</a>
    <br><br>
    <form action="{% url 'polls:delete_results' %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
{% endblock %}
